@import '../vars.css';

.root {
  font-size: 14px;
  line-height: 30px;
}

.title {
  font-size: 16px;
}

.couplet {
  & + & {
    margin-top: 10px;
  }
}

.more {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: $color6;
}
