@import '../vars.css';

.root {
  width: 300px;
}

.header {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 20px;
  cursor: pointer;
}

.title {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  color: $color4;
  border-bottom: 2px dotted;
}

.toggle {
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  margin: 8px 0 0 8px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
}

.toggleOn {
  composes: toggle;
  border-bottom-width: 0;
  border-top-color: $color4;
}

.toggleOff {
  composes: toggle;
  border-top-width: 0;
  border-bottom-color: $color4;
}

.content {
  margin-top: 20px;
}
