@import '../vars.css';

.root {
  width: 210px;
  padding: 18px;
  border: 2px solid $color4;
  background: #fff;
}

.field {
  & + & {
    margin-top: 10px;
  }
}

.text {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0;
  font-size: 14px;
  line-height: 20px;
}

.radio {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  margin-left: 10px;
  padding: 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.input {
  width: 210px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.inputTextarea {
  composes: input;
  margin-top: 10px;
  height: 84px;
  resize: none;
}

.error {
  margin: 14px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: $color2;
}
