{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 120, 2],
    "no-multi-spaces": 0,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
      "align": "value"
    }],
    "react/jsx-equals-spacing": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  },
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "browser": true
  }
}
