{
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".es6"] }],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  },
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "browser": true
  }
}
