@import '../vars.css';

.root {
  box-sizing: border-box;
  padding: 24px 36px 36px;
  font-size: 16px;
  line-height: 24px;

  & h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: center;

    &:last-child {
      margin-bottom: -20px;
    }
  }

  & p {
    max-width: 400px;
    margin: 20px auto 0;
  }

  & dl {
    max-width: 400px;
    margin: 0 auto;
  }

  & dt {
    position: relative;
    margin-top: 20px;
    color: $color0;

    &::before {
      content: '?';
      position: absolute;
      top: 0;
      left: -36px;
      width: 24px;
      height: 24px;
      background-color: $color5;
      border-radius: 50%;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  & dd {
    margin-top: 10px;
    font-size: 14px;
  }

  & a {
    color: $color5;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $color6;
    }
  }

  & table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
  }

  & table tr:nth-child(2n) {
    background-color: $bgcolor;
  }

  & table th {
    padding: 4px 8px;
    border: 1px solid #ddd;
    color: $color0;
    font-weight: 400;
    text-align: left;
  }

  & table td {
    padding: 4px 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  & code {
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: '\00a0';
    }
  }
}

.rootAccent {
  background-color: $color2;
  color: #fff;
}

.rootCentered {
  & p {
    max-width: 100%;
    text-align: center;
  }
}

@media all and (max-width: $breakpoint) {
  .root {
    padding: 24px 24px 36px;
  }
}
