.root {
  max-width: 480px;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.125);
  font-family: 'Lucida Console', monospace;
  font-size: 14px;
  line-height: 20px;
}
.block {
  display: block;
  color: rgba(0,0,0,.375);
  overflow-x: auto;
}
.blockHL {
  composes: block;

  & > code > span > span:nth-child(6) {
    display: inline-block;
    background: rgba(0,0,0,.125);
    border-radius: 10px;
  }
}
.blockHLA {
  composes: blockHL;

  & > code > span > span:nth-child(6) {
    animation: blink .5s 1;
  }
}

@keyframes blink {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: .5; }
  100% { transform: scale(1); opacity: 1; }
}
