@import '../vars.css';

.root {
  width: 280px;
}

.form {
  display: block;
  width: 280px;
  height: 240px;
  background: #fff;
  box-shadow: inset 0 0 0 1px $color4;
}

.formMain {
  padding: 9px 15px;
  text-align: right;
}

.formFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: $color4;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.title {
  padding: 5px 0 10px;
  font-size: 20px;
  line-height: 20px;
  color: $color4;
  text-align: left;
}

.formText {
  margin: 8px 0 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin: -1px 0 0;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.button {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 10px;
  background: $color6;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.link {
  display: inline-block;
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: $color4;
  border-bottom: 1px dotted color($color4 a(50%));
  cursor: pointer;
}
