.github {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  white-space: nowrap;
  text-indent: 150px;
  overflow: hidden;
  background-image: inline('images/github.png');
  background-repeat: no-repeat;
}
