@import '../vars.css';

body {
  background: #f7f7f7;
}

.root {
  min-width: 1000px;
  padding-top: 36px;
  font-family: $font;
}

button, input {
  font-family: $font;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 36px;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(0,0,0,.75);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -18px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 18px;
    border-color: transparent transparent transparent rgba(0,0,0,.75);
  }
}
.topnav {
  margin-left: 10px;
}
.topnavLink {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

  &:not(:first-child) {
    position: relative;
    margin-left: 20px;
  }
  &:not(:first-child)::before {
    content: '\25B8';
    position: absolute;
    top: 0;
    left: -15px;
    width: 10px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
  }
}
a.topnavLink {
  border-bottom:1px dotted color(#fff a(70%));
}


.main {
  margin: 40px 0;
}
.mainText {
  margin: 0 20px;
}

.nav {
  margin: 20px;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.navItem {
  width: 480px;

  &::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
  }
}

.navText {
  margin: 70px 0 0 220px;
  width: 180px;
  font-size: 14px;
  line-height: 20px;
}

.navLink {
  float: left;
  width: 200px;
  box-sizing: border-box;
}

.navLinkRotator {
  composes: navLink;
  margin: 40px 0;
  height: 100px;
}
.navLinkRotatorSide {
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  padding: 40px;
  background: $color1;
  color: #fff;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}


.navLinkExpander {
  composes: navLink;
  margin: 20px 0;
  width: 200px;
  height: 140px;
  padding: 35px 0;
  background: color($color5 a(75%));
  text-align: center;
  text-decoration: none;


  & > div {
    position: relative;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 25px 0;
    background: $color5;
    box-shadow: inset 0 0 0 1px color(#fff a(75%));
    color: #fff;
    font-size: 14px;
    line-height: 20px;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      width: 10px;
      height: 20px;
      margin-left: -5px;
    }
    &::before {
      content: '\2191';
      top: 1px;
    }
    &::after {
      content: '\2193';
      bottom: 5px;
    }
  }
}

.article {
  border-top: 1px solid $color0;
  padding: 20px;

  & h2 {
    font-size: 30px;
    line-height: 40px;
    color: $color0;
  }

  & dl {
    line-height: 20px;
  }

  & dt {
    margin-top: 20px;
    font-weight: 700;

  }

  & dd {
    margin-top: 10px;
    font-size: 14px;
  }

  & a {
    color: $color5;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $color6;
    }
  }
}

.github {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  pointer-events: none;
}
.githubRibbon {
  position: absolute;
  top: 80px;
  right: -43px;
  transform: rotate(-45deg);
  background: rgba(0,0,0,.75);
  padding: 2px 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  font: 700 13px $font;
  z-index: 9999;
  pointer-events: auto;
}
.githubLink {
  display: inline-block;
  padding: 2px 0;
  width: 200px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}
