@import '../vars.css';

.root {
  position: relative;
  padding: 20px 36px;
  background: $bgcolor;
  line-height: 1;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.25);
  }
}

.title {
  font-size: 32px;
  line-height: 36px;
  color: $color0;
  letter-spacing: 0.05em;
  text-align: center;
}

.list {
  max-width: 400px;
  margin: 0 auto;
  counter-reset: use;
}

.item {
  position: relative;
  margin-top: 36px;

  &:not(:first-child)::before {
    content: '\2193';
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: $color6;
    text-align: center;
  }
}

.itemTitle {
  margin: 0 0 8px;
  letter-spacing: 0.05em;
  text-align: center;

  & b {
    color: $color0;
    font-size: 20px;
  }
}

@media all and (max-width: $breakpoint) {
  .root {
    padding: 20px 12px;
  }
}
