@import '../vars.css';

.root {
  position: relative;
  width: 240px;
  background: #000;
}

.nav {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
}

.slide {
  position: relative;
  width: 240px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.slideImage {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
}

.slideTitle {
  position: relative;
  padding: 10px;
  font-size: 24px;
  line-height: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  border-radius: 20px;
  transition: background 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

.arrowPrev {
  composes: arrow;
  left: 5px;
}

.arrowNext {
  composes: arrow;
  right: 5px;
}
