@import '../vars.css';

.root {
  /* * */
}

.nav {
  /* * */
}

.navList {
  /* * */
}

.navItem {
  position: relative;
  width: 100%;
}

.navHeading {
  padding: 24px 36px 16px;
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
}

.navTitle {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: $color0;
  text-align: center;
}

.navText {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.navButtons {
  margin-top: 24px;
  text-align: center;
}

.navMore {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  color: #fff;
  background: $color2;
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 20px;
  text-decoration: none;

  /*
  transition: all 0.5s ease;
  */

  &::after {
    content: ' \2192';
  }
}

.navLink:hover .navMore,
.navLink:focus .navMore {
  /* * */
}

.navComponent {
  position: relative;
  background: $bgcolor;
  color: #000;
}
