@import '../vars.css';

.root {

}

.block {
  position: relative;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  padding: 20px 36px;
}

.blockUse {
  composes: block;
  background: $bgcolor;
}

.blockDemo {
  composes: block;
  padding: 0;
  border: 0;
}


.title {
  font-size: 24px;
  font-weight: 700;
}

.intro {
  margin: 20px 0;

  & p + p {
    margin-top: 20px;
  }
}

.use {
  line-height: 1;
}

.useList {
  counter-reset: use;
}

.useItem {
  position: relative;
  margin-top: 40px;

  &::before {
    counter-increment: use;
    content: counter(use) '.';
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 20px;
    font-weight: 700;
  }
}

.useItemTitle {
  margin: 0 0 10px 24px;
}

.nav {

}

.navList {

}

.navItem {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.navHeading {
  padding: 0 16px;
}

.navTitle {
  margin-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #333;
}

.navText {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-size: 16px;
  line-height: 40px;
}

.navMore {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  color: #fff;
  background: $color1;
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.5s ease;

  &::after {
    content: ' \2192';
  }
}

.navLink:hover .navMore,
.navLink:focus .navMore {

}

.navComponent {
  margin: 15px 0 0;
  background: $bgcolor;
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
  color: #000;
}

.article {
  max-width: 600px;
  margin: 10px 0 20px;

  & p {
    margin-top: 20px;
    line-height: 24px;
  }

  & dl {
    line-height: 20px;
  }

  & dt {
    margin-top: 20px;
    font-weight: 700;
    color: #333;
  }

  & dd {
    margin-top: 10px;
    font-size: 14px;
  }

  & a {
    color: $color5;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $color6;
    }
  }
}
