@import '../vars.css';

.root {
  position: relative;
  width: 400px;
}

.nav {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
}

.slide {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.slideTitle {
  position: relative;
  width: 340px;
  padding: 20px;
  font-size: 40px;
  line-height: 1;
}

.slideText {
  position: relative;
  width: 340px;
  padding: 20px;
  font-size: 12px;
  line-height: 18px;
}

.slideMars {
  composes: slide;
  background-image: url('./images/mars.jpg');
}

.slideEarth {
  composes: slide;
  background-image: url('./images/earth.jpg');
}

.slideVenus {
  composes: slide;
  background-image: url('./images/venus.jpg');
}

.slideMercury {
  composes: slide;
  background-image: url('./images/mercury.jpg');
}
