@import '../vars.css';

.root {
  position: relative;
  width: 400px;
  background: #000;
}

.nav {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
}

.slide {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideTitle {
  position: relative;
  width: 340px;
  padding: 20px;
  font-size: 40px;
  line-height: 1;
}

.slideText {
  position: relative;
  width: 340px;
  padding: 20px;
  font-size: 12px;
  line-height: 18px;
}
