@import '../vars.css';

.button {
  box-sizing: border-box;
  appearance: none;
  border: 0;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.buttonLaunch {
  composes: button;

  width: 100px;
  height: 100px;
  padding: 40px 10px;
  background: $color1;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 10px color($color1 a(65%));
  border-radius: 50px;

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 10px color($color1 a(65%)), 0 0 15px rgba(0, 0, 0, 0.25);
  }

  &:active,
  &:active:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
  }
}

.buttonHide {
  composes: button;

  position: fixed;
  bottom: 40px;
  left: 20px;
  width: 50px;
  height: 50px;
  padding: 15px 0;
  background: $color0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 10px color($color0 a(65%));
  border-radius: 25px;

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 10px color($color0 a(65%)), 0 0 15px rgba(0, 0, 0, 0.25);
  }

  &:active,
  &:active:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
  }
}

@keyframes popup {
  from { opacity: 0; }
  to { opacity: 1; }
}
