@import '../vars.css';

.root {
  position: relative;
  width: 400px;
}

.nav {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
}
.navItem {
  margin: 10px 0;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transition: transform .5s;
  }

  &:hover::after {
    transform: scale(1.5);
  }
}
.navItemActive {
  composes: navItem;

  &::after {
    background: $color3;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.slide {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $font;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
  }
}
.slideTitle {
  position: relative;
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  color: $color3;
}
.slideText {
  position: relative;
  margin: 20px 40px;
  font-size: 16px;
  line-height: 20px;
}
.slideWinter {
  composes: slide;
  background-image: url('./images/winter.jpg');
}
.slideSpring {
  composes: slide;
  background-image: url('./images/spring.jpg');
}
.slideSummer {
  composes: slide;
  background-image: url('./images/summer.jpg');
}
.slideAutumn {
  composes: slide;
  background-image: url('./images/autumn.jpg');
}
