@import '../vars.css';

.root {
  position: relative;
  width: 280px;
}

.nav {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
}

.slide {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1px color(#fff a(25%));
  color: #fff;
  text-align: center;
}

.slideImage {
  position: absolute;
  top: 5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
}

.slideTitle {
  position: relative;
  padding: 10px;
  font-size: 36px;
  line-height: 1;
}

.slideText {
  position: relative;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
}
