@import '../vars.css';

.root {

}
.list {
  padding: 20px 0;
}
.item {
  padding: 20px;

  &:not(:first-child) {
    border-top: 1px dotted rgba(0,0,0,.25);
  }
}
.itemTitle {
  font-size: 16px;
  line-height: 20px;
}
.itemText {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.75);
}
.itemContent {
  margin-top: 20px;

  &::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
  }
}
.itemComponent {
  position: relative;
  float: left;
  width: 50%;
}
.itemComponentFullscreen {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: color(#fff a(96%));
}
.itemCode {
  float: left;
  width: 50%;
  max-width: 480px;

  & pre {
    background: rgba(0,0,0,.1);
    padding: 20px;
    font-family: 'Lucida Console', monospace;
    font-size: 14px;
    line-height: 20px;
  }
}
.button {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  background: $color1;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), 0 0 10px color($color1 a(65%));
  appearance: none;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  &:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.35);
  }
}
.buttonLaunch {
  composes: button;;
}
.buttonClose {
  composes: button;
  position: fixed;
  bottom: 40px;
  left: 20px;
}
