@import '../vars.css';

.root {

}
.list {
  padding: 20px 0;
}
.item {
  padding: 20px;

  &:not(:first-child) {
    border-top: 1px dotted rgba(0,0,0,.25);
  }
}
.itemTitle {
  font-size: 16px;
  line-height: 20px;
}
.itemText {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.75);
}
.itemContent {
  margin-top: 20px;

  &::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
  }
}
.itemComponent {
  position: relative;
  float: left;
  width: 50%;
}
.itemComponentFullscreen {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: color(#fff a(96%));
}
.itemCode {
  float: left;
  width: 50%;
  max-width: 480px;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0,0,0,.1);
  font-family: 'Lucida Console', monospace;
  font-size: 14px;
  line-height: 20px;

  & > pre > code > span:first-child > span:nth-child(6) {
    display: inline-block;
    background: rgba(0,0,0,.125);
    box-shadow: 0 0 0 2px rgba(0,0,0,.125);
    border-radius: 10px;
  }
}

.itemCodeChanged {
  composes: itemCode;

  & > pre > code > span:first-child > span:nth-child(6) {
    animation: blink .5s 1;
  }
}
.button {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  background: $color1;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), 0 0 10px color($color1 a(65%));
  appearance: none;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: box-shadow .5s;

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15), 0 0 10px color($color1 a(65%)), 0 0 15px rgba(0,0,0,.25);
  }

  &:active,
  &:active:hover {
    box-shadow: inset 0 0 5px rgba(0,0,0,.35);
  }
}
.buttonLaunch {
  composes: button;
}
.buttonClose {
  composes: button;
  position: fixed;
  bottom: 40px;
  left: 20px;
}

@keyframes blink {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: .5; }
  100% { transform: scale(1); opacity: 1; }
}
