.header {
  position: relative;
  width: 100%;
  height: 96px;
  box-sizing: border-box;
  padding: 32px 0;
  background: rgba(0, 0, 0, 0.75);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 46px 80px;
  background-image: inline('./images/animakit.svg');
}

.nav {
  margin-left: 64px;
}

.navLink {
  position: relative;
  margin-left: 24px;
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

  &:not(:first-child)::before {
    content: '\25B8';
    position: absolute;
    top: 0;
    left: -20px;
    width: 16px;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
  }
}

a.navLink {
  border-bottom: 4px dotted color(#fff a(70%));
}
