$font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$color0: #999;
$color1: #e74c3c;
$color2: #e67e22;
$color3: #f1c40f;
$color4: #27ae60;
$color5: #2980b9;
$color6: #8e44ad;

/*
$color1: #f50d1d;
$color2: #f87c22;
$color3: #f6b30a;
$color4: #239e34;
$color5: #2e7ce1;
$color6: #bb39db;
*/
