@import '../vars.css';

.button {
  position: fixed;
  z-index: 12;
  top: 12px;
  right: 12px;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: svg-load('./images/close.svg', fill: $color2);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 50% 50%;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:focus,
  &:hover {
    background-color: #fff;
  }
}
