@import '../vars.css';

.root {
  position: relative;
  width: 400px;
}

.nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
}

.slide {
  position: relative;
  width: 400px;
  height: 200px;
  color: #fff;
  text-align: center;
}

.slideTitle {
  padding: 20px 0;
  font-size: 40px;
  line-height: 1;
}

.slideRed {
  composes: slide;
  background: $color1;
}

.slideOrange {
  composes: slide;
  background: $color2;
}

.slideYellow {
  composes: slide;
  background: $color3;
}

.slideGreen {
  composes: slide;
  background: $color4;
}

.slideBlue {
  composes: slide;
  background: $color5;
}

.slidePurple {
  composes: slide;
  background: $color6;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  border-radius: 20px;
  transition: background 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

.arrowPrev {
  composes: arrow;
  left: 20px;
}

.arrowNext {
  composes: arrow;
  right: 20px;
}
