@import '../vars.css';

.root {
  position: relative;
  width: 360px;
}

.nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
}

.slide {
  position: relative;
  width: 360px;
  height: 160px;
  box-sizing: border-box;
  padding: 20px 60px;
  color: #fff;
  text-align: center;

  &1 {
    composes: slide;
    background: $color2;
  }

  &2 {
    composes: slide;
    background: $color5;
  }

  &3 {
    composes: slide;
    background: $color0;
  }

  &4 {
    composes: slide;
    background: $color4;
  }

  &5 {
    composes: slide;
    background: $color1;
  }
}

.slideTitle {
  font-size: 36px;
  line-height: 1;
}

.slideText {
  margin-top: 20px;
  font-size: 24px;
  line-height: 1;
}

.arrow {
  
}

.arrowPrev {
  composes: arrow;
  left: 20px;
}

.arrowNext {
  composes: arrow;
  right: 20px;
}
