@import '../vars.css';

.root {
  position: relative;
  width: 370px;
}

.item {
  border-left: 10px solid;
}

.itemCollapsed {
  composes: item;
  background: #333;
  transition: background 0.125s ease-out 0.5s;
}

.itemExpanded {
  composes: item;
  background: #000;
  transition: background 0.125s ease-out 0.375s;
}

.itemMars {
  border-color: $color1;
}

.itemEarth {
  border-color: $color5;
}

.itemVenus {
  border-color: $color3;
}

.itemMercury {
  border-color: $color6;
}

.header {
  position: relative;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}

.image {
  position: relative;
  width: 360px;
  height: 360px;
  transform: scale(0);
  animation: expandImage;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.imageCollapsed {
  composes: image;
  animation-name: collapseImage;
  animation-delay: 0s;
}

.imageExpanded {
  composes: image;
}

@keyframes expandImage {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes collapseImage {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
