@import '../vars.css';

.root {
  display: inline-block;
  vertical-align: top;
  border: 3px dotted $color4;
  border-radius: 10px;
  max-width: 434px;
}

.text h2 {
  color: $color4;
}

.more {
  position: absolute;
  top: 0;
  right: 100%;
  font-size: 14px;
  line-height: 30px;
  color: $color0;
  white-space: nowrap;
  cursor: pointer;
}

.content {
  display: flex;
  margin: 12px 15px;
}

.image {
  position: relative;
  flex-shrink: 0;
  height: 135px;
}

.imageContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageVisible {
  composes: image;
  width: 135px;
  margin-left: 8px;

  & .more {
    margin-right: 10px;
  }
}

.imageHidden {
  composes: image;
  width: 0;
}
