@import '../vars.css';

.button {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background: $color3;
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 20px;
  text-decoration: none;
  transition: box-shadow 0.25s ease-in-out;

  &:focus,
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }

  &::after {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 8px;
    width: 16px;
    height: 16px;
    background-image: svg-load('./images/octocat.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
