body {
  overflow: hidden;
}

.root {

}

.header {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.settings {
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  font-family: 'Trebuchet MS',Arial,sans-serif;
  font-size: 14px;
}

.settingsItem {
  display: inline-block;
  vertical-align: top;
}
.settingsItem:not(:first-child)::before {
  content: '\00a0\2022\00a0';
}

.timingInput {
  width: 150px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS',Arial,sans-serif;
  color: #fff;

  &1 {
    composes: side;
    background: #f50d1d;
  }
  &2 {
    composes: side;
    background: #f87c22;
  }
  &3 {
    composes: side;
    background: #f6b30a;
  }
  &4 {
    composes: side;
    background: #239e34;
  }
  &5 {
    composes: side;
    background: #2e7ce1;
  }
  &6 {
    composes: side;
    background: #bb39db;
  }
}

.box1 {
  composes: box;

  & .side {
    width: 200px;
    height: 200px;
  }

  & .side2 {
    width: 150px;
    height: 150px;
  }

  & .side3 {
    width: 100px;
    height: 100px;
  }

  & .side4 {
    width: 250px;
    height: 250px;
  }

  & .side6 {
    width: 150px;
    height: 150px;
  }
}

.box2 {
  composes: box;

  & .side {
    width: 600px;
    height: 400px;
  }
}

.box3 {
  composes: box;

  & .side {
    width: 100vw;
    height: 100vh;
  }
}
