@import '../vars.css';

.root {

}

.intro {
  padding: 40px 20px;
}

.ud {
  margin-top: 20px;
  color: $color1;
  font-weight: 700;
}

.list {
  padding: 0 0 20px;
}

.item {
  padding: 20px;
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
}

.itemTitle {
  font-size: 16px;
  line-height: 20px;
}

.itemText {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.75);
}

.itemContent {
  margin-top: 20px;

  &::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
  }
}

.itemComponent {
  position: relative;
  float: left;
  width: 50%;
}

.itemCode {
  float: left;
  width: 50%;
}
